<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7c47f974-6f51-4adc-853f-28f0a33ce3cd/resourceGroups/CAR2UI_group/providers/Microsoft.Web/sites/CAR2UI</ResourceId>
    <ResourceGroup>CAR2UI_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://car2ui.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://car2ui.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$CAR2UI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>