<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/90c2da46-342c-43e6-8a8c-8666d2a7c09c/resourceGroups/CARUIDEV/providers/Microsoft.Web/sites/CAR2</ResourceId>
    <ResourceGroup>CARUIDEV</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://car2.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://car2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$CAR2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>