@page
@model CAR2_UI.Pages.role_detailsModel
@{
    ViewData["Title"] = "Role Details";
}

<div id="role_details" class="container">

    <!--USER INFO-->

    <header>
        <div class="row margin-top-10">
            <div class="col-12">
                <nav class="navbar static-top">
                    <h2 class="text-muted">First M Last: &nbsp;<small> Role Details</small></h2>
                </nav>
            </div>
        </div>
    </header>

    <!--User UPN-CN-->

    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="123456789012345@mil" disabled>
                <label for="floatingInputGrid">UPN</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="FIRST.M.LAST.123456789012345" disabled>
                <label for="floatingInputGrid">Common Name</label>
            </div>
        </div>
    </div>

    <!--Role Details-->

    <div id="" class="form-noborder margin-top-20">
        <!--Row 1-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control fw-bold" id="floatingInputGrid" value="ABC AVD Desktop (PIV)" disabled>
                    <label for="floatingInputGrid">Role</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control fw-bold" id="floatingInputGrid" value="Successfully Created" disabled>
                    <label for="floatingInputGrid">Status</label>
                </div>
            </div>
        </div>
        <!--Row 2-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="ABC Workforce" disabled>
                    <label for="floatingInputGrid">Org Group</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="05/22/2023 08:15:00" disabled>
                    <label for="floatingInputGrid">Date/Time</label>
                </div>
            </div>
        </div>
        <!--Row 3-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Army Battalion Company (ABC)" disabled>
                    <label for="floatingInputGrid">System</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="UPN: 123456748912345@mil" disabled>
                    <label for="floatingInputGrid">Account</label>
                </div>
            </div>
        </div>
        <!--Row 4-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Token (PIV)" disabled>
                    <label for="floatingInputGrid">Authorization Type</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="ADP-III" disabled>
                    <label for="floatingInputGrid">Automated Data Processing Level</label>
                </div>
            </div>
        </div>
        <!--Row 5-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Permanent" disabled>
                    <label for="floatingInputGrid">Appointment Type</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Unclassified Information" disabled>
                    <label for="floatingInputGrid">Role Provides Access to</label>
                </div>
            </div>

        </div>
        <!--Row 6-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Does Not Expire" disabled>
                    <label for="floatingInputGrid">Access Expiration Date</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Production" disabled>
                    <label for="floatingInputGrid">Active Directory Domain(s)</label>
                </div>
            </div>
        </div>
        <!--Row 7-->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" disabled>
                    <p class="padding-left-10 margin-top-neg-30 word-wrap">Support ABC Mission of making CAR an awesome app that makes me smile every day.  This sample justification is testing word-wrapping on the Role Details page.</p>
                    <label for="floatingInputGrid">Justification</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputGrid" disabled>
                    <ul class="margin-top-neg-30">
                        <li>
                            AABCC-ABCSO-ABC1TS-ABC_AVD1
                        </li>
                    </ul>
                    <label for="floatingInputGrid">Active Directory Security Groups</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row padding-10">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="margin-top-10">
                    <h5>
                        Role Approval Timeline
                    </h5>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="small-icon icon-success"></div>
                                        </td>
                                        <td>
                                            Initial Request
                                        </td>
                                        <td>
                                            Capt. Benjamin F. Pierce
                                        </td>
                                        <td>
                                            04/10/2023 12:45:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="small-icon icon-success"></div>
                                        </td>
                                        <td>
                                            Supervisor
                                        </td>
                                        <td>
                                            Col Sherman T. Potter
                                        </td>
                                        <td>
                                            04/12/2023 15:12:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="small-icon icon-success"></div>
                                        </td>
                                        <td>
                                            Security Officer
                                        </td>
                                        <td>
                                            MAJ Margaret H. Houlihan
                                        </td>
                                        <td>
                                            04/15/2023 11:35:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="small-icon icon-success"></div>
                                        </td>
                                        <td>
                                            Information Owner
                                        </td>
                                        <td>
                                            Corporal Walter O'Reilly
                                        </td>
                                        <td>
                                            04/30/2023 07:25:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="small-icon icon-success"></div>
                                        </td>
                                        <td>
                                            ISSO
                                        </td>
                                        <td>
                                            Corporal Maxwell Q. Klinger
                                        </td>
                                        <td>
                                            05/22/2023 08:15:00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Role Options:</h5>
                    <div class="btn-toolbar pull-left" role="toolbar" aria-label="Button Toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <a asp-page="role_details_revoked" type="button" class="btn btn-outline-danger margin-top-10">Revoke this Role</a>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <a asp-page="saar" type="button" class="btn btn-outline-secondary margin-top-10">Export 2875 (SAAR) pdf</a>
                        </div>
                        </div>
                        <div class="pull-right">
                            <a asp-page="user_requests" type="button" class="btn btn-outline-secondary margin-top-10 position-relative">Track My Requests</a>
                        </div>
                </div>
            </div>
            <div class="margin-top-40"></div>
        </div>
    </div>
</div>
