@page
@model CAR2_UI.Pages.system_maint_requestModel
@{
    ViewData["Title"] = "CAR Admin: System MAintenance Request";

}
<div class="container">
    <header>
        <div class="row margin-top-10">
            <div class="col-12">
                <nav class="navbar static-top">
                    <h2 class="text-muted">First M. Last: &nbsp;<small class="text-red">System Maintenance Request</small></h2>
                </nav>
            </div>
        </div>
    </header>

    <div class="margin-left-20 margin-top-20">
        <p class="badge bg-danger fs-5">
            Page currently under construction
        </p>
    </div>
    <div class="margin-top-50">
    <p>
    Ideas:
    <br />
    Current CAR version, domain connection info, last updated, type of request, capture all current settings.
    <br />
    List anything a User Manager can't do that requires an Admin (such as edit their own IAM roles), a tutorial for everything a UM CAN do.
    </p>

    </div>
</div>


