@page
@model CAR2_UI.Pages.my_requestsModel
@{
    ViewData["Title"] = "Role Request Submitted";
}

<div id="user_role_submitted" class="container">

    <!--USER INFO-->

    <header>
        <div class="row margin-top-10">
            <div class="col-12">
                <nav class="navbar static-top">
                    <h2 class="text-muted">First M Last: &nbsp;<small> Role Request Submitted</small></h2>
                </nav>
            </div>
        </div>
    </header>

    <!--User UPN-CN-->

    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="123456789012345@mil" disabled>
                <label for="floatingInputGrid">UPN</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="FIRST.M.LAST.123456789012345" disabled>
                <label for="floatingInputGrid">Common Name</label>
            </div>
        </div>
    </div>

    <!--Page Content-->

    <div class="jumbotron">
        <h4>
        Your access request has been submitted
        </h4>
        <p>
        Approval progress may be tracked below, you can access this page from the "Track My Requets" link on your Dashboard.
        <br />
        Click the Review Step link for Reviewer contact information.
        </p>
    </div>
        <div class="progress" style="height: 35px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%;">20%</div>
        </div>
        <div class="row padding-10">
            <div id="role_requested" class="form-noborder margin-top-20">
                <!--Row 1-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control fw-bold" id="floatingInputGrid" value="ABC AVD Desktop (PIV)" disabled>
                            <label for="floatingInputGrid">Role</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control fw-bold" id="floatingInputGrid" value="Assigned" disabled>
                            <label for="floatingInputGrid">Review Status</label>
                        </div>
                    </div>
                </div>
                <!--Row 2-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="ABC Workforce" disabled>
                            <label for="floatingInputGrid">Org Group</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="05/22/2023 08:15:00" disabled>
                            <label for="floatingInputGrid">Date/Time</label>
                        </div>
                    </div>
                </div>
                <!--Row 3-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Army Battalion Company (ABC)" disabled>
                            <label for="floatingInputGrid">System</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="UPN: 123456748912345@mil" disabled>
                            <label for="floatingInputGrid">Account</label>
                        </div>
                    </div>
                </div>
                <!--Row 4-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Token (PIV)" disabled>
                            <label for="floatingInputGrid">Authorization Type</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="ADP-III" disabled>
                            <label for="floatingInputGrid">Automated Data Processing Level</label>
                        </div>
                    </div>
                </div>
                <!--Row 5-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Permanent" disabled>
                            <label for="floatingInputGrid">Appointment Type</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Unclassified Information" disabled>
                            <label for="floatingInputGrid">Role Provides Access to</label>
                        </div>
                    </div>

                </div>
                <!--Row 6-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Does Not Expire" disabled>
                            <label for="floatingInputGrid">Access Expiration Date</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" value="Production" disabled>
                            <label for="floatingInputGrid">Active Directory Domain(s)</label>
                        </div>
                    </div>
                </div>
                <!--Row 7-->
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" disabled>
                            <p class="padding-left-10 margin-top-neg-30 word-wrap">Support ABC Mission of making CAR an awesome app that makes me smile every day.  This sample justification is testing word-wrapping on the Role Details page.  Hopefully it looks good and wont take away from the intended awesomeness of this page.</p>
                            <label for="floatingInputGrid">Justification</label>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="margin-top-20">
                        <h5>
                            Role Approval Timeline
                        </h5>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                Review Step
                                            </td>
                                            <td>
                                                Reviewer Name
                                            </td>
                                            <td>
                                                Date/Time Signed
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="small-icon icon-success"></div>
                                            </td>
                                            <td>
                                                Initial Request
                                            </td>
                                            <td>
                                                John McIntyre
                                            </td>
                                            <td>
                                                04/10/2023 12:45:00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="small-icon"></div>
                                            </td>
                                            <td>
                                                Supervisor
                                            </td>
                                            <td>
                                                Hawkeye Pierce
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="small-icon"></div>
                                            </td>
                                            <td>
                                                <a asp-page="admin_security_officer" type="text/html">Security Officer</a>
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="small-icon"></div>
                                            </td>
                                            <td>
                                                <a asp-page="admin_information_owner" type="text/html">Information Owner</a>
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="small-icon"></div>
                                            </td>
                                            <td>
                                                <a asp-page="admin_isso" type="text/html">ISSO</a>
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                            <td>
                                                TBD
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Role Options:</h5>
                        <div class="btn-toolbar pull-left" role="toolbar" aria-label="Button Toolbar">
                            <div class="btn-group me-2" role="group" aria-label="Group 1">
                                <a asp-page="user_dashboard" type="button" class="btn btn-outline-danger margin-top-10">Withdraw this Request</a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a asp-page="user_requests" type="button" class="btn btn-outline-secondary margin-top-10 position-relative">Track My Requests</a>
                        </div>
                    </div>
                </div>
                <div class="margin-top-40"></div>
            </div>

        </div>
    
