@page
@model CAR2_UI.Pages.user_profile_extendedModel
@{
    ViewData["Title"] = "CAR Admin: User Profile Extended Details";

}
<div class="container">




    <header>
        <div class="row margin-top-10">
            <div class="col-12">
                <nav class="navbar static-top">
                    <h2 class="text-muted">First M. Pierce: &nbsp;<small class="text-red">Profile Extended Details</small></h2>
                </nav>
            </div>
        </div>
    </header>

    <div class="margin-left-20 margin-top-20">
        <p class="badge bg-danger fs-5">
            Page currently under construction
        </p>
    </div>

</div>


