@page
@model CAR2_UI.Pages.system_rolesModel
@{
    ViewData["Title"] = "My System Roles";
}

<div id="user_roles" class="container">

    <!--USER INFO-->

    <header>
        <div class="row margin-top-10">
            <div class="col-12">
                <nav class="navbar static-top">
                    <h2 class="text-muted">First M Last: &nbsp;<small> My System Roles</small></h2>
                </nav>
            </div>
        </div>
    </header>

    <!--User UPN-CN-->
    @*<div class="row">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="123456789012345@mil" disabled>
                    <label for="floatingInputGrid">UPN</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="FIRST.M.LAST.123456789012345" disabled>
                    <label for="floatingInputGrid">Common Name</label>
                </div>
            </div>
        </div>*@

    <!--Account Details-->
    <div class="margin-top-10">
        <a asp-page="new_request" type="button" class="btn btn-outline-success">New System Access Request</a>
        <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#user-roles-table" role="button">View All Roles</a>
    </div>
    <div class="row margin-top-20">
        <div class="col-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="system-tab" data-bs-toggle="tab" data-bs-target="#system" type="button" role="tab" aria-controls="system" aria-selected="true">View Roles By System</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">View Roles By Account</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="revoked-tab" data-bs-toggle="tab" data-bs-target="#revoked" type="button" role="tab" aria-controls="revoked" aria-selected="true"> Revoked Roles</button>
                </li>
            </ul>
            <div class="tab-content margin-top-20" id="myTabContent">
                <!--By System-->
                <div class="tab-pane fade show active" id="system" role="tabpanel" aria-labelledby="system-tab">
                    <div class="form-floating margin-top-10">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option value="0">Choose...</option>
                            <optgroup label="Army Battalion Company (ABC)">
                                <option value="1" selected>ABC AVD Desktop (PIV)</option>
                                <option value="2">ABC Application Admin (SA)</option>
                                <option value="3">ABC Citrix User (PIV)</option>
                            </optgroup>
                            <optgroup label="Defense Toothbrush Mananagement System (DTMS)">
                                <option value="4">DTMS Application Admin (SA)</option>
                                <option value="5">DTMS Application User (PIV)</option>
                                <option value="6">DTMS Citrix Access (PIV)</option>
                            </optgroup>
                        </select>
                        <label for="floatingSelect">Select a Role for details (sorted by System)</label>
                    </div>
                    <div>
                        <p class="role-tab-message">If a Role has not successfully processed you may re-process below.  You may also revoke roles that are no longer needed.</p>
                    </div>
                    <div class="btn-toolbar pull-right margin-top-20" role="toolbar" aria-label="Button Toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <button type="button" class="btn btn-outline-success">Re-Process Role</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <a asp-page="role_details_revoked" type="button" class="btn btn-outline-danger">Revoke Role</a>
                        </div>
                    </div>
                </div>
                <!--By Account-->
                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <div class="form-floating margin-top-10">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option value="0">Choose...</option>
                            <optgroup label="Account: 123456789012345@mil">
                                <option value="1">ABC Citrix User (PIV)</option>
                                <option value="2" selected>ABC AVD Desktop (PIV)</option>
                                <option value="3">DTMS Application User (PIV)</option>
                                <option value="4">DTMS Citrix Access (PIV)</option>
                            </optgroup>
                            <optgroup label="Account: First.M.Last.SA">
                                <option value="5">ABC Application Admin (SA)</option>
                                <option value="6">DTMS Application Admin (SA)</option>
                            </optgroup>
                            <optgroup label="Account: supabc">
                                <option value="7" disabled>no roles associated to this account</option>
                            </optgroup>
                        </select>
                        <label for="floatingSelect">Select a Role for details (sorted by Account)</label>
                    </div>
                    <div>
                        <p class="role-tab-message">If a Role has not successfully processed you may re-process below.  You may also revoke roles that are no longer needed.</p>
                    </div>
                    <div class="btn-toolbar pull-right margin-top-20" role="toolbar" aria-label="Button Toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <button type="button" class="btn btn-outline-success">Re-Process Role</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <a asp-page="role_details_revoked" type="button" class="btn btn-outline-danger">Revoke Role</a>
                        </div>
                    </div>
                </div>
                <!--by Revoked-->
                <div class="tab-pane fade" id="revoked" role="tabpanel" aria-labelledby="revoked-tab">
                    <div class="form-floating margin-top-10">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option value="0">Choose...</option>
                            <optgroup label="Army Battalion Company (ABC)">
                                <option value="1">ABC vGFE Administrator</option>
                                <option value="2" selected>ABC vGFE Desktop User (PIV)</option>
                            </optgroup>
                            <optgroup label="Defense Toothbrush Mananagement System (DTMS)">
                                <option value="3">DTMS Database Admin (SA)</option>
                                <option value="4">DTMS RDGateway (PIV)</option>
                            </optgroup>
                        </select>
                        <label for="floatingSelect">Select a Revoked Role for details</label>
                    </div>
                    <div>
                        <p class="role-tab-message">If you believe that a role has been revoked in error please contact your Supervisor.  Alternately you may re-request the role below.</p>
                    </div>
                    <div class="btn-toolbar pull-right margin-top-20" role="toolbar" aria-label="Button Toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Group 1">
                            <a asp-page="new_request" type="button" class="btn btn-outline-success">Re-Request Selected Role</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">
                    Selected Role Details
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Role Name:</strong> ABC AVD Desktop (PIV)
                        <br />
                        <strong>Account:</strong> 123456789012345@mil
                        <br />
                        <strong>Domain(s):</strong> Production
                        <br />
                        <strong>Status:</strong> Successfully Processed
                        <br />
                        <strong>Date:</strong> 05/22/2023 08:15:00
                    </p>
                </div>
                <div class="btn-toolbar pull-left margin-top-40" role="toolbar" aria-label="Button Toolbar">
                    <div class="btn-group me-2" role="group" aria-label="Group 1">
                        <a asp-page="role_details" type="button" class="btn btn-outline-secondary margin-top-10">View Details</a>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Group 1">
                        <a asp-page="saar" type="button" class="btn btn-outline-secondary margin-top-10">2875 (SAAR) pdf</a>
                    </div>
                    <div class="pull-right">
                        <a asp-page="user_requests" type="button" class="btn btn-outline-secondary margin-top-10 position-relative">Track My Role Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-roles-table" class="collapse margin-top-20">
        <div class="row">
            <div class="margin-top-20">
                <table class="table table-sm table-hover table-borderless table-striped">
                    <thead>
                        <tr>
                            <th>
                                System
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Account
                            </th>
                            <th>
                                Domain(s)
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody class="user_tables">
                        <tr>
                            <td>
                                ABC
                            </td>
                            <td>
                                ABC AVD Desktop (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                05/22/2023 08:15:00
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ABC
                            </td>
                            <td>
                                ABC Application Admin (SA)
                            </td>
                            <td>
                                First.M.Last.SA
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                04/15/2023 11:18:20
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ABC
                            </td>
                            <td>
                                ABC Citrix User (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                03/04/2023 08:46:42
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ABC
                            </td>
                            <td>
                                ABC vGFE Administrator (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Revoked
                            </td>
                            <td>
                                02/17/2023 04:22:38
                            </td>
                            <td>
                                <a asp-page="new_request" type="button" class="btn btn-sm btn-outline-success pull-right">Re-Request</a>
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ABC
                            </td>
                            <td>
                                ABC vGFE Desktop User (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Revoked
                            </td>
                            <td>
                                02/17/2023 04:25:55
                            </td>
                            <td>
                                <a asp-page="new_request" type="button" class="btn btn-sm btn-outline-success pull-right">Re-Request</a>
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DTMS
                            </td>
                            <td>
                                DTMS Application Admin (SA)
                            </td>
                            <td>
                                First.M.Last.SA
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                02/17/2023 15:47:08
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DTMS
                            </td>
                            <td>
                                DTMS Application User (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                02/17/2023 05:46:16
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DTMS
                            </td>
                            <td>
                                DTMS Citrix Access (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                02/17/2023 04:22:38
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-danger pull-right">Revoke</a>
                            </td>
                            <td>
                                <a asp-page="role_details" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DTMS
                            </td>
                            <td>
                                DTMS Database Admin (SA)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Revoked
                            </td>
                            <td>
                                02/17/2023 07:02:43
                            </td>
                            <td>
                                <a asp-page="new_request" type="button" class="btn btn-sm btn-outline-success pull-right">Re-Request</a>
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DTMS
                            </td>
                            <td>
                                DTMS RD Gateway (PIV)
                            </td>
                            <td>
                                123456789012345@mil
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Revoked
                            </td>
                            <td>
                                12/20/2023 07:53:32
                            </td>
                            <td>
                                <a asp-page="new_request" type="button" class="btn btn-sm btn-outline-success pull-right">Re-Request</a>
                            </td>
                            <td>
                                <a asp-page="role_details_revoked" type="button" class="btn btn-sm btn-outline-secondary pull-right">Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>